.comment-form {
    margin: 0;
    padding: 2rem;
}

.comment-form textarea {
    font-size: 1.5rem;
}

.comment-list {
    margin-top: 20px;
}

.comment-list .no-comment {
    font-weight: 700;
}

.comment {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.comment-username {
    font-size: 1.6rem;
}

.comment-item {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.comment p {
    margin: 0;
}