.product-wrapper {
    display: flex;

}

.col-1 {
    flex-basis: 50%;
    display: flex;
    align-items: center;
}

.col-2 {
    flex-basis: 50%;
    display: flex;
    align-items: center;
}

.product-image {
    width: 54rem;
    height: 56rem;
}

.product-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

.product-info {
    padding-left: 11.2rem;
}

.product-info h2 {
    margin: 1.6rem 0 3.2rem 0;
}

.product-info .product-desc {
    margin-bottom: 4rem;
    opacity: .5;
}