header {
    position: relative;
    width: 100%;
    background-color: #0f0f0f;
    z-index: 1000;
}

#header-wrapper {
    height: 9.7rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

#header-wrapper nav {
    display: block;
}

#header-wrapper nav.open {
    display: flex;
}

.logo {
    flex-basis: 50%;
}

nav {
    width: 100%;
}

#nav-list {
    display: flex;
    gap: 3.4rem;
}

.nav-item {
    color: var(--color-white);
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 2.5rem;
    letter-spacing: .2rem;
    background: none;
    border: none;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.nav-item:hover, .active {
    font-size: 1.4rem;
    color: var(--color-orange);
}

#cart .bx {
    color: var(--color-white);
    font-size: 2rem;
}

#mobile-menu-btn {
    display: none;
}

#mobile-menu nav {
    display: none;
}


#user-nav-wrapper {
    position: relative;
    margin-right: 1.8rem;
}

#header-wrapper #user-nav {
    display: none;
    background-color: var(--color-white);
    position: absolute;
    width: fit-content;
    top: 4rem;
    right: 0rem;
    padding: 1.5rem;
    border-radius: var(--border-radius-8);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

#header-wrapper #user-nav.open {
    display: block;
}

#header-wrapper #user-nav #user-nav-list {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: .5rem;
}

#header-wrapper #user-nav a,
#header-wrapper #user-nav .nav-item {
    color: var(--color-black);
    transition: .3s ease-in-out color;
}

#header-wrapper #user-nav a:hover,
#header-wrapper #user-nav .nav-item:hover {
    color: var(--color-orange);
}


#user-nav-wrapper i {
    font-size: 25px;
    color: var(--color-white);
    cursor: pointer;
    transition: .3s ease-in-out color;
}

#user-nav-wrapper i:hover {
    color: var(--color-orange);

}

@media (max-width: 768px) {

    #header-wrapper {
        height: 9rem;
    }

    #mobile-menu-btn {
        display: block;
    }

    #mobile-menu nav {
        display: none;
    }

    #header-wrapper nav {
        display: none;
    }

    #header-wrapper .logo {
        flex-basis: unset;
        margin-left: 4.2rem;
    }

    #user-nav-wrapper {
        margin-left: auto;
    }
}

@media (max-width: 375px) {}