.products-categories-wrapper {
  display: flex;
  justify-content: space-between;
}

.category-cart {
  padding-bottom: 3rem;
  display: flex;
  height: 20.4rem;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-gray-300);
  border-radius: var(--border-radius-8);
  flex-basis: 31.53%;
  cursor: pointer;
  transition: .3s ease-in-out color;
}

.category-img-wrapper {
  position: relative;
  width: 23rem;
  height: 13rem;
}

.category-img-wrapper img {
  position: absolute;
  top: -8.2rem;
  width: 100%;
  /* height: 100%; */
  object-fit: contain;
}

.category-title {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}

.category-title a {
  opacity: .5;
}

.category-cart:hover .category-title a {

  color: var(--color-orange);
  opacity: 1;
}
