.site-heading {
    width: 100%;
    height: 23.9rem;
    background-color: var(--color-black);
    display: flex;
    align-items: center;
    justify-content: center;
}

.site-heading .heading-title {
    color: var(--color-white);
    font-size: 4rem;
    font-weight: 700;
    line-height: 4.4rem;
    letter-spacing: 1.429px;
    text-transform: uppercase;
}

form {
    max-width: 54rem;
    margin: 10rem auto;
    padding: 4.8rem;
    background-color: var(--color-white);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    border-radius: var(--border-radius-8);
    text-align: center;
}

.btn-2.auth {
    margin: 2.4rem;
}

.btn-2 a {
    color: var(--color-black);
    opacity: .5;
}

.btn-2:hover a {
    color: var(--color-orange);
    opacity: 1;
}