.products-wrapper {
    margin-top: 7.9rem;
}

.go-back {
    margin-bottom: 5.6rem;
}

.products-categories {
    margin: 24rem 0 16rem 0;
}

.product-image {
    width: 54rem;
    height: 56rem;
}

.product-image img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.product-info {
    padding-left: 11.2rem;
}

.product-info h2 {
    margin: 1.6rem 0 3.2rem 0;
}

.product-info .product-desc {
    margin-bottom: 4rem;
    opacity: .5;
}

.product-action {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    margin-top: 4.7rem;
}

.product-details {
    display: flex;
    justify-content: space-between;
    gap: 3.5rem;
    margin: 16rem 0 5rem 0;
}

.product-details .features,
.product-details .comment-write {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
}

.product-details .features p {
    opacity: .5;
}

.not-logged {
    font-weight: 700;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}



