.profile-section {
    margin-bottom: 30px;
}

.profile-section-wrapper {
    margin: 7rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 7rem;
}

.profile-section-wrapper h3 {
    margin-bottom: 12rem;
}

.profile-section-wrapper .profile-products {
    padding: 5rem;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

.profile-section-wrapper h3 {
    margin: 0;
}

.profile-section-wrapper .profile-products-list {
    margin-top: 6.4rem;
    display: flex;
    justify-content: space-evenly;
}

.profile-section-wrapper .slide-track {
    display: flex !important;
    justify-content: space-between !important;
}

.profile-section-wrapper .slick-track {
    display: flex;
    justify-content: center;
    gap: 5rem;
}

.profile-section-wrapper .slick-initialized .slick-slide > div {
    height: 47rem;
    margin-top: 6.4rem;
    display: flex;
    justify-content: space-evenly;
}

.profile-section-wrapper .profile-products-item {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: space-between !important;
}

.profile-section-wrapper .profile-products-media {
    display: block;
    height: auto;
}

.profile-section-wrapper .profile-products-media img {
    width: 28rem;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.profile-section-wrapper h5 {
    font-size: 2rem;
    margin: 4rem 0 3.2rem 0;
}

.profile-section-wrapper p {
    margin: 3rem 0;
}

/* Container for the dots */
.slick-dots {
    position: absolute;
    bottom: 10px;
    display: flex !important;
    justify-content: center;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
}

/* Each dot */
.slick-dots li {
    margin: 0 5px;
    /* Space between dots */
}

/* Dot button */
.slick-dots li button {
    font-size: 0;
    /* Remove default button text */
    width: 12px;
    /* Width of the dot */
    height: 12px;
    /* Height of the dot */
    border-radius: 50%;
    /* Make it round */
    background-color: #D87D4A;
    /* Default color */
    border: none;
    /* Remove default border */
    cursor: pointer;
    /* Pointer cursor on hover */
    outline: none;
    /* Remove default outline */
    transition: background-color 0.3s ease;
    /* Smooth color transition */
}

/* Active dot */
.slick-dots li.slick-active button {
    background-color: #000;
    /* Active dot color */
}

/* Hover effect */
.slick-dots li button:hover {
    background-color: #888;
    /* Hover color */
}

.slick-prev:before, .slick-next:before {
    font-size: 2.6rem;
    color: #000 !important;
}