.products-wrapper {
    margin-top: 16rem;
}

.product-list {
    display: flex;
    flex-direction: column;
    gap: 16rem
}

.no-products {
    font: inherit;
    font-size: 3.2rem;
    font-weight: 700;
    text-align: center;
}